{% extends "template.html" %}
{% block title %}Welcome{% endblock %}
{% load static %}

{% block customCSS %}
    <style type="text/css" media="screen">
    label {max-width: 150px;}

    </style>
{% endblock %}

{% block content %}

        <!--================Team Area =================-->
      <section class="home_banner_area">

            <div class="container">
				<div class="advanced_search" style="margin-top: 2%!important; margin-right: 30%;box-shadow: 21.21px 21.21px 30px 21.21px rgba(158,158,158,0.3);">
					<h3>Change Password</h3>
                    <form
                            action="{% url 'eproperty:changePassword' %}"
                            method="post">
                        {% csrf_token %}
                        {{ formP.as_p }}
                        <input type="hidden" id="userName" name="userName" value={{ userName }}>
                        <br>
                        {% if errorMSG %}
                            <label style="color: red"> {{ errorMSG }}</label>
                        {% endif %}
                    <br>
                        <button type="submit" value="submit" class="btn submit_btn">Save</button>
{#                        <button type="submit" value="submit" id="reset" class="btn submit_btn">Reset</button>#}
                        <a href="{% url 'eproperty:login' %}" class="btn submit_btn"> Cancel </a>

                    </form>


                </div>
            </div>
        </section>

{% endblock %}
