{% extends "template.html" %}
{% block title %}Welcome{% endblock %}
{% load static %}
{% block content %}

        <!--================Team Area =================-->
      <section class="home_banner_area">

            <div class="container">
				<div class="advanced_search" style="margin-top: 2%!important; margin-right: 30%;box-shadow: 21.21px 21.21px 30px 21.21px rgba(158,158,158,0.3);">
					<h3>LogIn</h3>
{#                    <form method="POST">#}
{#                        {% csrf_token %}#}
{#                        {% bootstrap_form form %}#}
{#                        <input type="submit" class="btn btn-primary" value="Login">#}
{##}
{#                    </form>#}
                    <form
                            action="{% url 'eproperty:login' %}"
                            method="post">
                        {% csrf_token %}
                        {{ formL.as_p }}

                        {% if errorMSG %}
                            <label style="color: red"> {{ errorMSG }}</label>

                        {% endif %}
                        <button type="submit" value="submit" class="btn submit_btn">LogIn</button>
                        {#                        <button type="submit" value="submit" id="reset" class="btn submit_btn">Reset</button>#}
                        <a href="{% url 'eproperty:login' %}" class="btn submit_btn"> Reset </a>

                    </form>


                </div>
            </div>
        </section>


{% endblock %}
