
{% extends "sidebar_base.html" %}

{% load static %}
{% block customCSS %}
     <link rel="stylesheet" href="{% static '/css/sb-admin.css' %}">
{% endblock %}

{% block content %}
 <div  class="formPaddingBox">
     <div class="card mb-3">
         <div class="card-header">
					<i class="fa fa-table"></i> Modify Images
         </div>
                <br>

          <div>
            <div>
              <form
                  action="{% url 'eproperty:PropertyImages_update' userM.propertyImageID %}"
                  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                  {{ formU.as_p }}
                  <a href="{% url 'eproperty:PropertyImages_list' %}" class="btn btn-primary"> Cancel </a>
                <button type="submit"class="btn btn-primary">
                  Save </button>
              </form>
            </div>
          </div>


     </div>
 </div>

{% endblock %}
