{% extends "sidebar_base.html" %}

{% load static %}

{% block customCSS %}
     <link rel="stylesheet" href="{% static '/css/sb-admin.css' %}">
{% endblock %}

{% block content %}
    <div  class="formPaddingBox">
     <div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-table"></i> Manage Property
				</div>
                <br>
                <div style="padding: 1% 1% 1% 1%">
                     <a href="{% url 'eproperty:Property_create' %}" class="btn btn-primary">
                 Create New Property</a>
               </div>


     {% comment %} {% for user in users_list %}
        <article>
          <header>
            <h2>
              <a href="{{ post.get_absolute_url }}">
                {{ post.title|title }}</a>
            </h2>
              <ul>
                  <li>
                    <a href="{{ post.get_update_url }}">
                      Edit Post</a></li>
                  <li>
                    <a href="{{ post.get_delete_url }}">
                      Delete Post</a></li>
              </ul>
            <p>
              Written on:
              <time datetime="{{ post.pub_date|date:"Y-m-d" }}">
                {{ post.pub_date|date:"l, F j, Y" }}
              </time>
            </p>
          </header>
          <p>{{ post.text|truncatewords:20 }}</p>
          <p>
            <a href="{{ post.get_absolute_url }}">
              Read more&hellip;</a>
          </p>
        </article>
      {% empty %}
        <p><em>No Blog Posts Available</em></p>
      {% endfor %}{% endcomment %}
    <br>

    <div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>Property Name</th>
                                    <th>Property Category</th>
                                    <th>Property Sector</th>
                                    <th>Country</th>
                                     <th>Province</th>
                                    <th>City</th>
                                    <th>Total Area</th>
                                    <th>No of Rooms</th>
                                    <th>Asking Price</th>
                                    <th>Selling Price</th>
									<th>Link</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Property Name</th>
                                    <th>Property Category</th>
                                    <th>Property Sector</th>
                                    <th>Country</th>
                                     <th>Province</th>
                                    <th>City</th>
                                    <th>Total Area</th>
                                    <th>No of Rooms</th>
                                    <th>Asking Price</th>
                                    <th>Selling Price</th>
									<th>Link</th>
								</tr>
							</tfoot>
							<tbody>


								 {% for c in property_list %}
									<tr>

										<td>{{ c.propertyTitle }}</td>
                                        <td>{{ c.propertyCategory }}</td>
                                        <td>{{ c.propertySector }}</td>
                                        <td>{{ c.propertyCountry }}</td>
                                        <td>{{ c.propertyProvince }}</td>
                                        <td>{{ c.propertyCity }}</td>
                                        <td>{{ c.propertyTotalArea }}</td>
                                        <td>{{ c.propertyNumberofRooms }}</td>
                                        <td>{{ c.propertyAskingPrice }}
                                        <td>{{ c.propertySellingPrice }}</td>
										<td>
                                            {% if request.session.userType != 'admin' %}
                                            <a href="{% url 'eproperty:Property_update' c.propertyID%}">Edit</a>
                                            {% endif %}
                                        <a href="javascript:deleteFromURL('{% url 'eproperty:Property_delete' c.propertyID %}', 'Property')">Delete</a>
                                        </td>

									</tr>
								 {% endfor %}



							</tbody>
						</table>
					</div>
  </div>

</div>

{% endblock %}

{% block jsBlock %}
    <script src="{% static '/vendors/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static '/vendors/datatables/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static '/js/sb-admin-datatables.js' %}"></script>
 {% endblock %}


