{% extends "sidebar_base.html" %}

{% load static %}

{% block customCSS %}
     <link rel="stylesheet" href="{% static '/css/sb-admin.css' %}">
{% endblock %}


{% block content %}
 <div  class="formPaddingBox">
     <div class="card mb-3">
         <div class="card-header">
					<i class="fa fa-table"></i> Create New System Role
         </div>
                <br>

          <div>
            <div>
              <form
                  action="{% url 'eproperty:RoleCode_create' %}"
                  method="post">
                {% csrf_token %}
                {{ formU.as_p }}
                  <br>
                  <a href="{% url 'eproperty:RoleCode_List' %}" class="btn btn-primary"> Cancel </a>
                <button type="submit"class="btn btn-primary">
                  Save </button>
                  <br>
              </form>
            </div>
          </div>

     </div>
 </div>

{% endblock %}
