{% extends "template.html" %}
{% block title %}Welcome{% endblock %}
{% load static %}

{% block customCSS %}
    <link rel="stylesheet" href="{% static '/css/sb-admin.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables/dataTables.bootstrap4.css' %}">
    <style type="text/css" media="screen">

        .advanced_search {
            max-width: 30% !important;
            text-align: justify
        }

        label {
            max-width: 100px;
        }

        .nice-select {
            min-width: 15% !important;
        }

        .ui-slider-range {

            background: #f5204b;
            border-radius: 0px;

        }


    </style>
{% endblock %}


{% block content %}

    <!--================Team Area =================-->


    <div class="container">

        <h3>Advance Search for Properties </h3>
        <form
                action="{% url 'eproperty:SearchAdvance' %}"
                method="post" onsubmit="onSubmitForm()">
            {% csrf_token %}
            <select class="s_select" name="category">
                <option disabled selected value> -- Category --</option>
                {% for c in catList %}
                    <option value="{{ c.propertyCategory }}">{{ c.propertyCategoryName }}</option>
                {% endfor %}

            </select>
            <select class="s_select" name="sector">
                <option disabled selected value> -- Sector --</option>
                {% for s in sectList %}
                    <option value="{{ s.propertySector }}">{{ s.propertySectorName }}</option>
                {% endfor %}
            </select>
            <select class="s_select" name="facing">
                <option disabled selected value> -- Facing --</option>
                {% for f in faceList %}
                    <option value="{{ f.propertyFacing }}">{{ f.propertyFacingName }}</option>
                {% endfor %}
            </select>
            <select class="s_select" name="country">
                <option disabled selected value> -- Country --</option>
                {% for c in counList %}
                    <option value="{{ c.countryID }}">{{ c.countryName }}</option>
                {% endfor %}
            </select>
            <select class="s_select" name="province">
                <option disabled selected value> -- Province --</option>
                {% for p in provList %}
                    <option value="{{ p.provinceID }}">{{ p.provinceName }}</option>
                {% endfor %}
            </select>
            <select class="s_select" name="city">
                <option disabled selected value> -- City --</option>
                {% for c in cityList %}
                    <option value="{{ c.cityID }}">{{ c.cityName }}</option>
                {% endfor %}
            </select>

            &nbsp;
            <input type="text" placeholder="Postal Code" name="postal"> <input type="text" placeholder="No. of Halls"
                                                                               name="hall"> <input
                type="text" placeholder="No. of Rooms" name="room"> <input type="text" placeholder="No. of BathRoom"
                                                                           name="bathRoom"> <input
                type="text" placeholder="No. of Floors" name="floor">


            <div class="search_range" style="width: 100%;padding-left: 20%;padding-top: 2%">
                <div class="range_item">
                    <div class="switch-wrap d-flex">
                        <h5 title="Toogle for enabling or disabling">Asking Price Range</h5> &nbsp;
                        <div class="primary-switch">
                            <input type="checkbox" id="default-switch" checked >
                            <label for="default-switch"></label>
                        </div>
                    </div>
                    <div id="slider-range"></div>
                    <span class="d_text">$CAD</span>
                    <input type="text" name="amount" id="amount" readonly style="border:0;" class="amount">
                </div>
            </div>

            <div class="range_item" style="width: 100%;padding-left: 20%">
                <div class="switch-wrap d-flex">
                    <h5 title="Toogle for enabling or disabling">Property Area</h5> &nbsp;
                    <div class="confirm-switch">
                        <input type="checkbox" id="confirm-switch" checked>
                        <label for="confirm-switch"></label>
                    </div>
                </div>
                <div id="slider-range2"></div>
                <span class="d_text2">sq.ft</span>
                <input type="text" name="amount2" id="amount2" readonly style="border:0;" class="amount2">
            </div>
              {% if MSG %}
                <p style="color: red; margin-left: 5%">{{ MSG }}</p>
            {% endif %}


            <div style="padding-top: 2%; padding-left: 30%">
                <button type="submit" value="submit" class="btn submit_btn">Search</button>
                <a href="{% url 'eproperty:SearchAdvance' %}" class="btn submit_btn"> Reset </a>
            </div>

        </form>


    </div>
    <br>

    <div class="table-responsive" style="padding-right: 10%">
        <table class="table table-bordered" id="dataTable" width="100%"
               cellspacing="0">
            <thead>
            <tr>
                <th>Property Name</th>
                <th>Property Category</th>
                <th>Property Sector</th>
                <th>Country</th>
                <th>Province</th>
                <th>City</th>
                <th>Total Area</th>
                <th>No of Rooms</th>
                <th>Asking Price</th>
                <th>Selling Price</th>
                <th>Link</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Property Name</th>
                <th>Property Category</th>
                <th>Property Sector</th>
                <th>Country</th>
                <th>Province</th>
                <th>City</th>
                <th>Total Area</th>
                <th>No of Rooms</th>
                <th>Asking Price</th>
                <th>Selling Price</th>
                <th>Link</th>
            </tr>
            </tfoot>
            <tbody>


            {% for c in propertySearchList %}
                <tr>

                    <td>{{ c.propertyTitle }}</td>
                    <td>{{ c.propertyCategory }}</td>
                    <td>{{ c.propertySector }}</td>
                    <td>{{ c.propertyCountry }}</td>
                    <td>{{ c.propertyProvince }}</td>
                    <td>{{ c.propertyCity }}</td>
                    <td>{{ c.propertyTotalArea }}</td>
                    <td>{{ c.propertyNumberofRooms }}</td>
                    <td>{{ c.propertyAskingPrice }}
                    <td>{{ c.propertySellingPrice }}</td>
                    <td><a href="{% url 'eproperty:SearchAdvertisement' c.propertyID %}">View</a> &nbsp;

                    </td>

                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>



{% endblock %}


{% block jsBlock %}
    <script src="{% static '/vendors/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static '/vendors/datatables/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static '/js/sb-admin-datatables.js' %}"></script>
{% endblock %}


