{% extends "sidebar_base.html" %}

{% load static %}
{% block customCSS %}
     <link rel="stylesheet" href="{% static '/css/sb-admin.css' %}">
{% endblock %}

{% block content %}
 <div  class="formPaddingBox">
     <div class="card mb-3">
         <div class="card-header">
					<i class="fa fa-table"></i> Modify User Profile for {{ userM.firstName }} {{ userM.lastName }}
         </div>
                <br>

          <div>
            <div>
             {% if request.session.userType == 'admin' %}
              <form
                  action="{% url 'eproperty:Users_update' userM.user_ID %}"
                  method="post">
                {% csrf_token %}
                  {{ formU.as_p }}
                  {{ formP.as_p }}
                  <a href="{% url 'eproperty:Users_List' %}" class="btn btn-primary"> Cancel </a>
                  <button type="submit"class="btn btn-primary">
                  Save </button>
              </form>

             {% else %}

            <form
                  action="{% url 'eproperty:PersonalDetail_update'%}"
                  method="post">
                {% csrf_token %}
                  {{ formU.as_p }}
                  {{ formP.as_p }}

                         {% if errorMSG %}
                            <label style="color: red"> {{ errorMSG }}</label>

                        {% endif %}
            <br>


                     <a href="{% url 'eproperty:ResetUserPassword' passM.password_ID %}"  class="btn btn-primary" >Reset Password</a>
                <button type="submit"class="btn btn-primary">
                  Save </button>
              </form>
             {% endif %}

            </div>
          </div>


     </div>
 </div>

{% endblock %}
